/* styles.css */

/* Scrollbar for certifications and projects */
.certifications-container::-webkit-scrollbar,
.projects-container::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
}

.certifications-container::-webkit-scrollbar-track,
.projects-container::-webkit-scrollbar-track {
  background: #bb86fc; /* violet track */
  border-radius: 10px;
}

.certifications-container::-webkit-scrollbar-thumb,
.projects-container::-webkit-scrollbar-thumb {
  background-color:#85709e ; /* thumb color (dark) */
  border-radius: 10px;
  border: 3px solid #bb86fc; /* spacing around thumb */
}

.certifications-container::-webkit-scrollbar-thumb:hover,
.projects-container::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* darker thumb on hover */
}

/* Force Desktop Styling */
.force-desktop {
  max-width: 1200px;   /* pretend desktop width */
  margin: auto;        /* center on screen */
  zoom: 0.9;           /* shrink to fit */
}

.force-desktop * {
  font-size: 0.95rem;  /* balance text scaling */
}
